<div class="author">
    <h1 class="author_heading">Hi, I am Derek.</h1>
    <p class="author_body">Web Developer</p>
</div>

<img src="/img/astroBoy.jpg" class="astro_image" width="950" height="550">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older  Posts</a>
    
</section>