@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Sometype+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

:root {
  --black: #1c1c1c;
  --gray: #7e7e7e;
  --gray-light: #e4e4e4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-md: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #faf5ee;
  background-image: url("/img/img-noise-361x370.png");
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-base);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}


.btn{
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
